body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #f2f2f2;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 3rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.hero {
    background-image: url("../static/images/background.jpg");
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 250px 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.features {
    margin-top: 50px;
}

.feature {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.pricing {
    margin-top: 50px;
}

.plan {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.plan h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.price {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.contact {
    margin-top: 50px;
}

.contact form {
    display: grid;
    grid-gap: 10px;
}

.contact input,
.contact textarea,
.contact button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
